:root {
    --acc-color: #f76d6d;
}

body {
    height: 100vh;
}

.header-img {
    background-image: url("https://picsum.photos/900/500");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.bg-nav {
    background-color: #0c172b;
}

.bg-acc {
    background-color: var(--acc-color);
}

.navbar-collapse {
    flex-grow: unset;
}

.vh-75 {
    min-height: 75vh;
}

.vh-65 {
    min-height: 65vh;
}

.vh-60 {
    min-height: 60vh;
}

.vh-50 {
    min-height: 50vh;
}

.nav-link {
    color: white !important;
}

.fs-title {
    font-size: 10vh;
}

.white {
    color: white;
}
.footer {
    width: 100%;
    bottom: 50px;
    left: 0;
    position: absolute;
    font-size: 14px;
    text-align: center;
}
.footer__link {
    cursor: pointer;
    padding: 2px 5px;
    border-bottom: 1px solid #fff;
}

#container_overflow {
    height: 400px;
    overflow: scroll;
}

.change_topic_btn:hover {
    transform: scale(1.2);
    transform: rotate(90deg);
    transition: 0.5s;
}

.scale1h:hover {
    transform: scale(1.1);
}

.scale1 {
    transform: scale(1.1);
}

.pick-topic-card:hover {
    transform: scale(1.1);
}

.selected-card {
    border: solid 2px #0d6efd;
    transform: scale(1.1);
}
